## üß© O que √© SQLAlchemy e por que usar?

O **SQLAlchemy** √© uma biblioteca Python que funciona como uma **camada de abstra√ß√£o** sobre bancos de dados relacionais, como **PostgreSQL, MySQL e SQLite**.

Ele permite trabalhar com banco de dados de forma:
- Mais **organizada**
- Mais **segura**
- Mais **port√°vel**
- Mais **integrada com Pandas**

Neste projeto, o SQLAlchemy foi utilizado para **conectar o Pandas diretamente ao PostgreSQL**, facilitando a cria√ß√£o de tabelas e a persist√™ncia dos dados a partir de um DataFrame.

---

### üîπ Antes: uso direto do psycopg2

O **psycopg2** √© um **driver de baixo n√≠vel** para PostgreSQL. Ao utiliz√°-lo diretamente, √© necess√°rio escrever comandos SQL manualmente, al√©m de gerenciar conex√µes, cursores, commits e fechamento da conex√£o de forma expl√≠cita.

Esse tipo de abordagem oferece maior controle, por√©m gera mais c√≥digo repetitivo e torna a integra√ß√£o com bibliotecas de an√°lise de dados, como o Pandas, menos produtiva.

---

### üîπ Agora: uso do SQLAlchemy

O **SQLAlchemy** abstrai esses detalhes t√©cnicos e utiliza o `psycopg2` internamente, permitindo que a comunica√ß√£o com o banco de dados seja feita de forma mais simples e organizada.

Com ele, √© poss√≠vel:
- Criar tabelas automaticamente a partir de um DataFrame
- Definir os tipos das colunas no banco de dados
- Enviar grandes volumes de dados com menos c√≥digo
- Integrar de forma natural o Pandas ao PostgreSQL

---

### üéØ Conclus√£o

Enquanto o `psycopg2` √© indicado para execu√ß√µes SQL manuais e controle de baixo n√≠vel, o **SQLAlchemy √© mais adequado para projetos de An√°lise e Engenharia de Dados**, pois aumenta a produtividade, melhora a legibilidade do c√≥digo e reduz a complexidade da intera√ß√£o com o banco de dados.

In [61]:
import pandas as pd
pd.set_option('display.max_columns', None)
caminho_do_arquivo = r"C:\Users\jabul\OneDrive\Desktop\FPScoders\Python_Para _Data_Science\Arquivo_json\V_OCORRENCIA_AMPLA.json"
df = pd.read_json(caminho_do_arquivo, encoding='utf-8-sig')
df.head(3)

,Numero_da_Ocorrencia,Numero_da_Ficha,Operador_Padronizado,Classificacao_da_Ocorr√™ncia,Data_da_Ocorrencia,Hora_da_Ocorr√™ncia,Municipio,UF,Regiao,Descricao_do_Tipo,ICAO,Latitude,Longitude,Tipo_de_Aerodromo,Historico,Matricula,Categoria_da_Aeronave,Operador,Tipo_de_Ocorrencia,Fase_da_Operacao,Operacao,Danos_a_Aeronave,Aerodromo_de_Destino,Aerodromo_de_Origem,Lesoes_Fatais_Tripulantes,Lesoes_Fatais_Passageiros,Lesoes_Fatais_Terceiros,Lesoes_Graves_Tripulantes,Lesoes_Graves_Passageiros,Lesoes_Graves_Terceiros,Lesoes_Leves_Tripulantes,Lesoes_Leves_Passageiros,Lesoes_Leves_Terceiros,Ilesos_Tripulantes,Ilesos_Passageiros,Lesoes_Desconhecidas_Tripulantes,Lesoes_Desconhecidas_Passageiros,Lesoes_Desconhecidas_Terceiros,Modelo,CLS,Tipo_ICAO,PMD,Numero_de_Assentos,Nome_do_Fabricante,PSSO
0,7762,201803231711488,ICON TAXI AEREO LTDA E OUTRO,Incidente,2018-03-21,20:00:00,S√ÉO PAULO,SP,Sudeste,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,None,"-23,6261","-46,6564",None,DURANTE O VOO O PILOTO SENTIU A AERONAVE COM P...,PRROS,TPX,ICON TAXI AEREO LTDA E OUTRO,SCF-NP,Pouso,T√°xi A√©reo,Nenhum,SBSP,SDSC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,AW109SP,H2T,A109,3175.0,8.0,AGUSTA,verdadeiro
1,7759,201803161337187,EJ ESCOLA DE AERONAUTICA CIVIL LTDA,Acidente,2018-03-14,15:30:00,MONTES CLAROS,MG,Sudeste,COMBUST√çVEL,Fora de Aer√≥dromo,"-16,7861","-43,8817",-,QUANDO A AERONAVE ATINGIU 6 MILHAS AO SUL DO A...,PREJO,PRI,EJ ESCOLA DE AERONAUTICA LTDA,FUEL,Em rota,Voo de Instru√ß√£o,Substancial,SBMK,SIMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,A152,L1P,C152,757.0,2.0,CESSNA AIRCRAFT,verdadeiro
2,7758,201802271904132,AEROTEX AVIACAO AGRICOLA LTDA.,Acidente,2018-01-26,12:20:00,INACIOL√ÇNDIA,GO,Centro-Oeste,EXCURS√ÉO DE PISTA,None,"-18,4572","-49,9842",None,A AERONAVE DECOLAVA DE UMA PISTA DE POUSO EVEN...,PTWZP,S11,AEROTEX AVIA√á√ÉO AGR√çCOLA LTDA.,RE,Decolagem,Opera√ß√£o Agr√≠cola,Substancial,None,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,T188C,L1P,C188,1997.0,1.0,CESSNA AIRCRAFT,verdadeiro

In [62]:
colunas = ["Numero_da_Ocorrencia", "Classificacao_da_Ocorr√™ncia",
           "Data_da_Ocorrencia", "Municipio", "UF", "Regiao", "Nome_do_Fabricante", "Modelo"]
df = df[colunas]
df.rename(columns={
          'Classificacao_da_Ocorr√™ncia': 'Classificacao_da_Ocorrencia'}, inplace=True)
df.head()

,Numero_da_Ocorrencia,Classificacao_da_Ocorrencia,Data_da_Ocorrencia,Municipio,UF,Regiao,Nome_do_Fabricante,Modelo
0,7762,Incidente,2018-03-21,S√ÉO PAULO,SP,Sudeste,AGUSTA,AW109SP
1,7759,Acidente,2018-03-14,MONTES CLAROS,MG,Sudeste,CESSNA AIRCRAFT,A152
2,7758,Acidente,2018-01-26,INACIOL√ÇNDIA,GO,Centro-Oeste,CESSNA AIRCRAFT,T188C
3,7758,Acidente,2018-01-26,INACIOL√ÇNDIA,GO,Centro-Oeste,CESSNA AIRCRAFT,T188C
4,7757,Incidente Grave,2018-03-18,TORRES,RS,Sul,PIPER AIRCRAFT,PA-34-200

In [63]:
df.dtypes

Numero_da_Ocorrencia            int64
Classificacao_da_Ocorrencia    object
Data_da_Ocorrencia             object
Municipio                      object
UF                             object
Regiao                         object
Nome_do_Fabricante             object
Modelo                         object
dtype: object

sqlalchemy
Geral:
https://docs.sqlalchemy.org/en/20/dialects/postgresql.html#insert-on-conflict-upsert

Conex√£o postgree:
https://docs.sqlalchemy.org/en/20/dialects/postgresql.html#dialect-postgresql-psycopg2cffi-connect

In [64]:

# pip install sqlalchemy
from sqlalchemy import create_engine, Integer, String, Date, VARCHAR
# tipos de dados ,Integer, String, Date,VARCHAR
# conex√£o com  Postgres, MySQL, SQLite e muito mais com auto desempenho

dbname   = 'python'                       
user     = 'postgres'
password = '6425'
host     = 'localhost'
port    = '5432'






#string de conex√£o
conexao_str = f'postgresql://{user}:{password}@{host}:{port}/{dbname}'

# Criar uma conex√£o usando SQLAlchemy

engine = create_engine(conexao_str)

nome_da_tabela = 'Ocorrencias_Aeronauticas_sqlalchemy' # nome da tabela asercriada no banco de dados



# Enviando DataFrame para o banco de dados


df.to_sql(nome_da_tabela, engine, index = False, if_exists= 'replace',dtype={



# Se n√£o for colocado o tipo do dado ele sera enviado altomaticamente como texto para o banco de dados 

'Numero_da_Ocorrencia' : Integer ,      
'Classificacao_da_Ocorrencia' : VARCHAR(50)   ,
'Data_da_Ocorrencia' : Date,      
'Municipio' : VARCHAR(50)  ,                  
'UF':VARCHAR(30)            ,              
'Regiao': VARCHAR(100)       ,              
'Nome_do_Fabricante'  : VARCHAR(100),             
'Modelo'   : VARCHAR(100)                       

}) 


#replace = sobrescreve toda a tabela
#append = adicona dados ao fim da tabela 

# Fechar a conex√£o
engine.dispose()